* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  src: url(fonts/Cinzel-VariableFont_wght.ttf);
  font-family: cinzel;
}
@font-face {
  src: url(fonts/Amiri-Regular.ttf);
  font-family: amiri;
}
@font-face {
  src: url(fonts/PathwayGothicOne-Regular.ttf);
  font-family: gothic;
}
@font-face {
  src: url(fonts/PontanoSans-Regular.ttf);
  font-family: pontano;
}
@font-face {
  src: url(fonts/Michroma-Regular.ttf);
  font-family: michroma;
}
@font-face {
  src: url(fonts/Genos-VariableFont_wght.ttf);
  font-family: genos;
}

/*===== HEADER =====*/
.header-logo {
  width: 150px;
  margin-top: 5px;
}
.logo {
  width: 100px;
}
.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  color: var(--white-color);
}
.header__toggle {
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*===== Colores =====*/
  --dark-color: white;
  --dark-color-alt: #e8e8e8;
  --white-color: #575656;

  /*===== Fuente y tipografia =====*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*===== z index =====*/
  --z-fixed: 100;
}
/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  font-family: genos;
  font-size: 15pt;
  color: #cccccc;
  letter-spacing: 1px;
}
img {
  max-width: 100%;
  height: auto;
}
.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
/*Aparecer menu*/
.show {
  left: 0;
}
/*Active menu*/
.active {
  color: var(--first-color);
}
/*===== NAV =====*/
.nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}
.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}
.nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0.25rem;
  margin-bottom: 0.8rem;
  width: 56px;
  height: 56px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}
.nav__img img {
  width: 46px;
}
.nav__name {
  display: block;
  color: var(--white-color);
}
.nav__profesion {
  font-size: var(--small-font-size);
}
.nav__menu {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.nav__item {
  margin: 2.5rem 0;
}
.nav__link {
  color: var(--white-color);
}
.nav__social {
  padding-top: 0.5rem;
}
.nav__social-icon {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-right: 1rem;
}
.nav__social-icon:hover {
  color: var(--first-color);
}
/*===== MAIN BODY =====*/
body {
  color: #575656;
  background-color: #f2f2f2;
}
#about-photo {
  margin: 60px auto 0 auto;
}
.tdat-h1 {
  color: white;
  font-family: genos;
  font-size: 30pt;
  font-weight: 300;
  text-align: center;
  margin-top: -520px;
  position: relative;
  z-index: 1;
}
.body-message {
  text-align: center;
  position: relative;
  z-index: 1;
  display: block;
  margin: -90px auto 540px auto;
  font-family: genos;
  font-size: 15pt;
  width: 90%;
  color: white;
}
.tdat-h2 {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: unset;
  font-size: 10pt;
  font-weight: unset;
  margin-top: 400px;
}
#overview-photo {
  width: 350px;
  display: block;
  margin: -200px auto 0 auto;
}
.overview-container {
  display: block;
  margin: -40px auto 0 auto;
  position: relative;
  z-index: 1;
  width: 350px;
  background-color: white;
  padding: 20px 30px 30px 30px;
  width: 80%;
}
.overview-header {
  text-align: left;
  color: black;
  font-family: genos;
  font-weight: 400;
  margin-top: 0;
  font-size: 30pt;
}
.overview-h2 {
  color: #0d6efd;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15pt;
  font-weight: 200;
  margin-bottom: 10px;
}
.overview-message {
  line-height: 25px;
}
.icon-container {
  background-color: #fafafa;
  padding: 150px 0;
}
.containers {
  display: block;
  margin: 0 auto 0 auto;
  width: 90%;
}
#software-1 {
  width: 120px;
  display: block;
  margin: -50px auto 20px auto;
}
#software-2 {
  width: 120px;
  display: block;
  margin: 50px auto 20px auto;
}
#software-3 {
  width: 120px;
  display: block;
  margin: 50px auto 20px auto;
}
.software-h1 {
  margin-bottom: -20px;
  font-family: genos;
  font-weight: 400;
  text-align: left;
  color: black;
  font-size: 25pt;
}
.software-h2 {
  margin-top: 25px;
  margin-bottom: -10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: unset;
  color: #0d6efd;
}
.paragraphs {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14pt;
  margin-top: 25px;
  line-height: 25px;
  color: #808080;
}
.what-to-expect-container {
  display: block;
  margin: 150px auto 0 auto;
  padding: 20px 0 30px 0;
  background: white;
}
.wte-internal-container {
  margin: 0 auto 0 auto;
  padding: 20px;
}
.what-to-expect-header {
  color: black;
  font-family: genos;
  font-weight: 400;
  font-size: 28pt;
  margin-bottom: 10px;
}
.what-to-expect-list {
  color: #0d6efd;
  line-height: 20px;
  padding-left: 15px;
}
.what-to-expect-message {
  color: #808080;
  margin-top: -15px;
  line-height: 25px;
  padding-left: 30px;
}
#invest-image {
  width: 350px;
  display: block;
  margin: 150px auto 0 auto;
}
.main-platform-container {
  display: block;
  position: relative;
  z-index: 1;
  margin: -30px auto 0 auto;
  width: 350px;
  padding: 20px 30px 20px 30px;
  background-color: white;
  width: 80%;
}
.main-platform-header {
  text-align: left;
  font-size: 30pt;
  font-family: genos;
  font-weight: 400;
  color: black;
}
.main-platform-h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #0d6efd;
  font-size: 15pt;
  font-weight: 200;
}
.main-platform-message {
  text-align: left;
  margin-top: 12px;
  line-height: 25px;
}
.main-platform-button {
  padding: 7px 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 20px;
  border: none;
  background-color: #e0e0e0;
  font-size: 11pt;
  color: black;
  transition: all linear 0.5s;
  display: block;
  margin: 13px auto 0 auto;
}
.main-platform-button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}
.quick-message {
  text-align: center;
  font-family: genos;
  font-size: 15pt;
  width: 90%;
  display: block;
  margin: -250px auto 0 auto;
  background-image: linear-gradient(90deg, black, #bfbfbf);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: none;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.testimonials-header {
  font-family: genos;
  font-size: 30pt;
  color: black;
  font-weight: 400;
  display: block;
  text-align: center;
  margin: 170px auto 20px auto;
  width: 350px;
}
.testimonial-container {
  display: block;
  background-image: linear-gradient(
    to top,
    rgba(13, 109, 253, 20%),
    rgba(255, 255, 255, 0%)
  );
  padding-bottom: 80px;
  margin-bottom: -50px;
}
.testimonial-bodies {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: white;
  margin: 0 auto 0 auto;
  padding: 25px;
  line-height: 25px;
  border-radius: 20px;
  display: block;
  margin: 0 auto 30px auto;
  width: 350px;
}
#testimonial-image {
  width: 70px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 0 auto;
}
#testimonial-image-3 {
  width: 70px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 0 auto;
}
.testimonial-h1 {
  font-family: genos;
  font-weight: 200;
  font-size: 15pt;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  color: black;
}
.testimonial-paragraphs {
  color: #808080;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12pt;
}
.form-section {
  background-color: white;
  clip-path: polygon(0% 4%, 100% 0, 100% 96%, 0% 100%);
  margin-bottom: 100px;
}
form {
  font-family: cinzel;
  font-size: 10pt;
  padding-bottom: 100px;
}
.contact-header {
  font-family: genos;
  font-size: 30pt;
  font-weight: 400;
  margin-left: 30px;
  color: black;
  margin-bottom: 30px;
  padding-top: 100px;
}
label {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12pt;
  text-align: left;
  margin-left: 35px;
  padding-bottom: 5px;
  color: #737373;
}
input {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12pt;
  background-color: white;
  border-radius: 5px;
  padding: 0.4rem 0.7rem;
  border: 1px solid #a6a6a6;
  width: 80%;
  border: 1px solid #7d7d7d;
  margin-left: 35px;
  margin-bottom: 7px;
  color: #575656;
}
textarea {
  background-color: white;
  border: 1px solid #d4d4d4;
  resize: vertical;
  width: 80%;
  border-radius: 5px;
  font-family: amiri;
  font-size: 12pt;
  padding: 0.2rem 0.7rem;
  border: 1px solid #7d7d7d;
  margin-left: 35px;
}
textarea:focus {
  border-color: #7db0fb;
  outline: 0;
}
input:focus {
  border-color: #7db0fb;
  outline: 0;
}
.form-wrap {
  margin-bottom: 15px;
}
.contact-page-image {
  width: 200px;
  float: right;
  margin-right: 110px;
  margin-top: -300px;
}
button {
  background: #0d6efd;
  outline: 0;
  border: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 11pt;
  font-weight: unset;
  padding: 5px 15px;
  border-radius: 20px;
  color: white;
  margin: 0 auto 0 auto;
}
.btn-primary {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: unset;
}
.btn-secondary {
  background-color: gray;
  margin-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: unset;
}
.footer {
  background-color: white;
  width: 100%;
  height: 38vh;
  float: left;
}
.footer-css {
  display: flex;
  flex-direction: column;
}
.column-css {
  margin: 20px 0 0 0;
}
#footerlogo {
  width: 100px;
  margin: 30px auto 10px auto;
  display: block;
  position: relative;
}
.footer-links a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  height: 25px;
  text-align: center;
  color: #575656;
  transition: all 0.5s linear;
  font-family: genos;
  font-size: 13pt;
}
.copyright {
  font-size: 9pt;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #575656;
  margin: 25px 0 0 0;
  padding-bottom: 20px;
  background-color: white;
  text-align: center;
}

/*===== MOBILE DEVICES MEDIA QUERY =====*/
@media screen and (min-width: 200px) and (max-width: 600px) {
  .header-logo {
    width: 150px;
    margin-top: 5px;
  }
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #about-photo {
    margin: 60px auto 0 auto;
    display: none;
  }
  #about-photo-2 {
    margin-top: 60px;
  }
  .tdat-h2-left {
    display: none;
  }
  .testimonial-container {
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 30%),
      rgba(255, 255, 255, 0%)
    );
  }
  .contact-message {
    font-family: genos;
    font-weight: 400;
    font-size: 15pt;
    text-align: center;
    display: block;
    margin: 50px auto 0 auto;
    width: 90%;
    background-image: linear-gradient(90deg, black, #bfbfbf);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: none;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #about-photo {
    display: none;
  }
  .tdat-h1 {
    margin-top: -800px;
    margin-bottom: 650px;
  }
  .tdat-h2-left {
    display: none;
  }
  .overview-container {
    width: 400px;
  }
  .containers {
    width: 70%;
  }
  .wte-internal-container {
    width: 80%;
  }
  .main-platform-container {
    width: 400px;
  }
  .quick-message {
    width: 70%;
  }
  .testimonial-container {
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 20%),
      rgba(255, 255, 255, 0%)
    );
  }
  input {
    width: 50%;
  }
  textarea {
    width: 50%;
  }
  .contact-message {
    display: none;
  }
}
/*Aparecer menu*/
.show {
  left: 0;
}
/*Active menu*/
.active {
  color: var(--first-color);
}
/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo,
  .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    -ms-grid-columns: (max-content) 3;
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nav__close,
  .nav__profesion {
    display: none;
  }
  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__img img {
    width: 26px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin: 0 0.25rem;
  }
  .nav__link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
  }
  .nav__link:hover {
    background-color: var(--first-color);
  }
  .active {
    background-color: var(--first-color);
    color: var(--white-color);
  }
  .logo {
    display: none;
  }
  #about-photo-2 {
    display: none;
  }
  .tdat-h1 {
    margin-top: -430px;
  }
  .tdat-h2 {
    margin-top: 320px;
  }
  .body-message {
    width: 50%;
  }
  .tdat-h2-left {
    display: none;
  }
  .overview-container {
    width: 400px;
  }
  .containers {
    width: 60%;
  }
  .wte-internal-container {
    width: 80%;
  }
  .main-platform-container {
    width: 400px;
  }
  .contact-header {
    margin-left: 100px;
  }
  label {
    margin-left: 100px;
  }
  input {
    width: 50%;
    margin-left: 100px;
  }
  textarea {
    width: 50%;
    margin-left: 100px;
  }
  .btn-primary {
    margin-left: 100px;
  }
  .contact-message {
    display: none;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1700px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo,
  .header__toggle {
    display: none;
  }
  .header-logo {
    width: 100px;
    margin-top: 4.5px;
    margin-left: 100px;
  }
  .logo {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    -ms-grid-columns: (max-content) 3;
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nav__close,
  .nav__profesion {
    display: none;
  }
  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__img img {
    width: 26px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin: 0 0.25rem;
  }
  .nav__link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
  }
  .nav__link:hover {
    background-color: var(--first-color);
  }
  .active {
    background-color: var(--first-color);
    color: var(--white-color);
  }
  .logo {
    display: none;
  }
  #about-photo-2 {
    display: none;
  }
  .tdat-h1 {
    display: block;
    margin: 0 auto 0 auto;
    margin-top: -600px;
    margin-left: 500px;
  }
  .tdat-h2 {
    display: block;
    margin: 50px auto 0 auto;
    margin-left: 500px;
  }
  .body-message {
    margin-top: 400px;
  }
  .tdat-h2-left {
    display: none;
  }
  .overview-container {
    width: 450px;
  }
  .icon-container {
    margin-top: 200px;
  }
  .containers {
    width: 40%;
  }
  .wte-internal-container {
    width: 70%;
  }
  .main-platform-container {
    width: 30%;
  }
  #invest-image {
    width: 400px;
  }
  .quick-message {
    margin-bottom: 290px;
  }
  .contact-header {
    margin-left: 200px;
  }
  label {
    margin-left: 200px;
  }
  input {
    width: 45%;
    margin-left: 200px;
  }
  textarea {
    width: 45%;
    margin-left: 200px;
  }
  .btn-primary {
    margin-left: 200px;
  }
  .contact-message {
    display: none;
  }
}

@media screen and (min-width: 1701px) and (max-width: 2740px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header-logo {
    width: 150px;
    margin-top: 4.5px;
    margin-left: 100px;
    margin-right: -110px;
  }
  .header__logo,
  .header__toggle {
    display: none;
  }
  .logo {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    -ms-grid-columns: (max-content) 3;
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nav__close,
  .nav__profesion {
    display: none;
  }
  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__img img {
    width: 26px;
  }
  a {
    transition: all linear 0.5s;
  }
  a:hover {
    cursor: pointer;
    color: #0d6efd;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin: 0 0.25rem;
  }
  .nav__link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
  }
  .nav__link:hover {
    background-color: var(--first-color);
  }
  .active {
    background-color: var(--first-color);
    color: var(--white-color);
  }
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  #about-photo {
    margin-top: -250px;
    bottom: 200px;
    width: 1792px;
    border: none;
  }
  #about-photo-2 {
    display: none;
  }
  .tdat-h1 {
    font-size: 45pt;
    margin-top: -720px;
    margin-left: 800px;
  }
  .tdat-h2 {
    font-size: 15pt;
    text-align: center;
    margin-left: 800px;
    margin-top: 60px;
  }
  .body-message {
    display: none;
  }
  .tdat-h2-left {
    margin-top: 250px;
    font-family: genos;
    font-weight: 200;
    margin-left: 60px;
    color: white;
  }
  .overview-container {
    margin-top: 544px;
    margin-left: 300px;
    width: 37%;
    padding: 20px;
  }
  #overview-photo {
    width: 550px;
    float: right;
    margin-right: 310px;
    margin-top: 520px;
  }
  .icon-container {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    margin-top: 100px;
  }
  .containers {
    width: 50%;
    padding: 50px;
    margin-top: 30px;
  }
  .software-h1 {
    margin-bottom: -20px;
    margin-top: -35px;
    font-size: 25pt;
  }
  .software-h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: unset;
    color: #0d6efd;
  }
  #software-1 {
    width: 150px;
    float: left;
    margin-right: 50px;
    margin-top: -30px;
  }
  #software-2 {
    width: 150px;
    float: right;
    margin-left: 50px;
    margin-top: -25px;
  }
  #software-3 {
    width: 150px;
    float: left;
    margin-right: 50px;
    margin-top: -47px;
  }
  .paragraphs {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15pt;
    margin-top: 25px;
    line-height: 25px;
    color: #808080;
  }
  .what-to-expect-container {
    display: block;
    margin: 300px auto 0 auto;
    background: white;
    border: none;
    padding: 25px 10px 25px 25px;
  }
  .wte-internal-container {
    width: 50%;
    margin: 0 auto 0 auto;
    padding: 50px 0;
  }
  .what-to-expect-header {
    margin: 0 0 0 15px;
    color: black;
    font-family: genos;
    font-weight: 400;
    font-size: 30pt;
  }
  .what-to-expect-list {
    padding: 20px 30px 10px 30px;
    color: #0d6efd;
  }
  .what-to-expect-message {
    padding: 0 60px 0 60px;
    color: #808080;
  }
  #invest-image {
    float: left;
    margin-left: 300px;
    width: 450px;
    margin-top: 260px;
  }
  .main-platform-header {
    text-align: left;
    font-size: 30pt;
    color: black;
  }
  .main-platform-h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #0d6efd;
    font-weight: 200;
  }
  .main-platform-message {
    text-align: left;
    width: 100%;
    padding: 0;
    margin-top: 15px;
  }
  .main-platform-container {
    border-radius: 10px;
    padding: 15px 10px;
    display: block;
    float: right;
    width: 34%;
    box-shadow: none;
    border: none;
    background-color: unset;
    margin-right: 250px;
    margin-top: 240px;
  }
  .main-platform-button {
    font-size: 12pt;
    transition: all linear 0.5s;
    margin: 0;
    margin-top: 20px;
  }
  .main-platform-button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
  }
  .quick-message {
    display: block;
    margin: 300px auto 0 auto;
    font-size: 25pt;
    text-align: center;
    width: 100%;
  }
  .testimonials-header {
    margin-top: 200px;
    margin-bottom: -50px;
  }
  .testimonial-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 340px 340px 340px;
    background-image: linear-gradient(
      to top,
      rgba(13, 109, 253, 20%),
      rgba(255, 255, 255, 0%)
    );
    padding: 100px;
  }
  .testimonial-bodies {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: white;
    margin: 0 auto 0 auto;
    padding: 25px;
    line-height: 25px;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
  }

  .contact-header {
    margin-left: 400px;
  }
  label {
    margin-left: 400px;
  }
  input {
    width: 25%;
    margin-left: 400px;
  }
  textarea {
    width: 25%;
    margin-left: 400px;
  }
  .btn-primary {
    margin-left: 400px;
  }
  .form-section {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .contact-message {
    float: right;
    margin-right: 170px;
    margin-top: -200px;
    font-family: genos;
    font-size: 20pt;
    font-weight: 400;
    background-image: linear-gradient(90deg, #0d6efd, black);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: none;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  .footer {
    background-color: white;
    width: 100%;
    height: 40vh;
    float: left;
    margin-top: 00px;
  }
  #footerlogo {
    width: 150px;
    margin: 50px auto 15px auto;
    display: block;
    position: relative;
  }
  .copyright {
    font-size: 9pt;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #575656;
    background-color: white;
    text-align: center;
  }
}
